extend layout.pug

block content
    main.oneTask
        h1= value.name
        p= value.description
        p#deadline= value.date
        p#timeLeft
        #task-commands
            button(type='button' class='commands' id='putOff') Put Off
            a(class='commands' id='delete' href=`/tasks/${value.id}/delete`) Delete

        form(method ='POST' action=`/tasks/${value.id}/putOff` id='putOffForm')
            p How much is task delayed?
            label(for='days') Days:
            input(id='days' type="number" name="days" min="0" value='1' oninput="validity.valid||(value='');")
            br
            label(for='hours') hours:
            input(id='hours' type="number" name="hours" min="0" value='0' oninput="validity.valid||(value='');")
            br
            button(type='submit') Put Off!!!


        script(src="/scripts/a_task.js")